/* HEADER & NAVIGATION */
.header {
  position: fixed;
  background: rgba(240, 240, 240, .7);
  backdrop-filter: blur(4px);
  padding: 1rem 2rem;
  z-index: 10;
  width: 100%;
}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(98%, 1400px);
  margin-inline: auto;
  background: blur(5px);
}

.header .content .logo {
  color: #000000;
  font-size: 1.6em;
  font-weight: 900;
}

.header .content .nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .content .nav .nav-list li {
  margin-right: 4em;
}

.header .content .nav .nav-list li a {
  font-size: 1.125em;
  color: #555555;
}

.header .content .nav .nav-list li a:hover {
  color: #000000;
}

.header .content .nav .nav-list li:nth-child(4) {
  margin-right: 0;
}

.header .content .nav-btn a {
  font-size: 1.125em;
  padding: .2em 1em;
  color: #F4F4F4;
  background: #222222;
  border: 2px solid #222222;
  border-radius: 2px;
  transition: all .3s ease-in-out;
 }

.header .content .nav-btn a:hover {
  color: #222222;
  background: #F4F4F4;
 }


 /* MOBILE MENU */
 .mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  /* background: #eaeaea; */
  /* background: rgba(222, 222, 222, .5); */
  background: rgba(244, 244, 244, .7);
  backdrop-filter: blur(4px);
  z-index: 1;
  animation: slide .7s ease-in-out;
 }

 @keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
  
 }
 
 .mobile.show {
  display: block;
 }

 .mobile .mobile-menu {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-align: center;
 }

 .mobile .mobile-menu li {
  /* padding: 1em 0; */
  width: 100%;
  cursor: pointer;
 }

 .mobile .mobile-menu li a {
  color: #000000;
  display: block;
  padding: 1em;
  width: 100%;
 }

 .mobile .mobile-menu li a:hover {
  background: #F0F0F0;
 }

 .ham-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2.5px;
 }

 .ham-menu .line {
  align-self: flex-end;
  border-radius: 50px;
  height: 3px;
  background: #000000;
 }

 .ham-menu .line1 {
  width: 32px;
 }
 .ham-menu .line2 {
  width: 24px;
 }
 .ham-menu .line3 {
  width: 40px;
 }

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  padding-bottom: 7rem;
  background-color: rgb(240, 240, 240);
}

.hero-content {
  /* text-align: center; */
  z-index: 1;
}

.hero-content-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: min(98%, 1000px);
  padding: 1rem 3rem;
  border-radius: 2px;
  margin: 1rem;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  align-content: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.hero-content-left h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #F0F0F0;
  margin: 0;

}

.hero-content-left p {
  font-family: "Raleway", sans-serif;
  color: #DFDFDF;
}

.hero-image {
  display: block;
  margin-inline: auto;
  width: 800px;
  height: 100vh;
  padding-top: 6em;
  object-fit: cover;
}

.cta-button {
  display: inline-block;
  font-size: 1.125em;
  padding: .5em 1em;
  color: #000000;
  background: #F4F4F4;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}

.cta-button:hover {
  color: #F0F0F0;
  background: #000000;
 }

/* SKILLS */
.skills {
  padding: 5rem 0;
  text-align: center;
}

.skills-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
  width: min(98%, 1400px);
  margin-inline: auto;
}

.skill-icon {
  font-size: 3rem;
  padding: 1rem;
  background-color: #f4f4f4;
  border-radius: 5px;
}

/* ABOUT */
.about {
  display: flex;
  padding: 5rem;
  background-color: #f0f0f0;
  width: min(90%, 1200px);
  margin-inline: auto;
}

.about .fab {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: #000000;
  padding-left: 1.5rem;
}
.about .fab:hover {
  color: #FFFFFF;
}

.about p {
  font-size: 1.2rem;
  line-height: 32px;
  font-family: "Raleway", sans-serif;
  margin-bottom: .7rem;
}

.about-image {
  width: 50%;
  object-fit: cover;
}

.about-content {
  width: 50%;
  padding-left: 2rem;
}

.about-content .about-btn {
  font-size: 1.125em;
  color: #F0F0F0;
  background: #000000;
  border: 2px solid transparent;
  padding: .6rem 1rem;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}
.about-content .about-btn:hover {
  color: #000000;
  background: #F0F0F0;
  border: 2px solid #000000;
  padding: .5rem 1rem;
}

/* PORTFOLIO */
.portfolio {
  padding: 5rem 0;
  text-align: center;
}

.portfolio-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: min(98%, 1400px);
  margin-inline: auto;
  margin-top: 1rem;
}

.portfolio-item {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #F0F0F0;
}
.portfolio-item img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

/* CONTACT */
  .contact {
    width: 300px;
    text-align: center;
  }

  .contact h2 {
    margin-bottom: 1.5rem;
  }

  .contact a {
    color: #F0F0F0;
  }

  .contact-info {
    margin-bottom: 2rem;
  }

  .contact-info p {
    margin-bottom: 0.5rem;
  }

  .contact-info i {
    margin-right: 0.5rem;
  }
  .contact-info a {
    text-decoration: underline;
  }

  /* SOCIAL ICONS */
  .social-links {
    width: 300px;
  }
  .social-links a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: #333;
  }

  .social-links a:hover {
    color: #000;
  }

  /* SUBSCRIBE FORM */
  .subscribe-form {
    width: 300px;
  }

  .subscribe-form h3 {
    margin-bottom: 1rem;
  }

  .form-group {
    display: flex;
  }

  .form-group input[type="email"] {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px 0 0 2px;
  }

  .subscribe-button {
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid transparent;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .subscribe-button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #F0F0F0;
  }

  /* BLOG */
  .blog {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .blog h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .blog-post {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    background-color: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .blog-image {
    flex: 1;
  }
  
  .blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .blog-content {
    flex: 2;
    padding: 2rem;
  }
  
  .blog-content h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .blog-date {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .blog-excerpt {
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  /* READ MORE */
  .read-more {
    display: inline-block;
    font-size: 1.125em;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
  }
  
  .read-more:hover {
    background-color: #F0F0F0;
    color: #000000;
    border: 2px solid #000000;
  }

  

  /* FOOTER */
  .footer {
    background-color: #222222;
    color: #fff;
    text-align: center;
    padding: 3rem 2rem 1rem 2rem;
  }

  .footer .copy-right {
    font-weight: 100;
    margin-top: 10rem;
  }

  .footer .content {
    display: flex;
    justify-content: space-between;
    width: min(98%, 1400px);
    margin-inline: auto;
  }

  .social-links a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }

  .title {font-size: 1.3rem;}

  .upArrow {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 1em 3em 1em 3em;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background: #222222;
  }
  .upArrow a {
    font-size: 1rem;
    color: #888;
  }
  .upArrow a:hover {
    color: #F0F0F0;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #222222;
    transition: all .1 ease-in-out;
  }

  /* ========================================= */
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .header {padding: 1rem .5rem;background: rgba(244, 244, 244, .5);}
    .header .content .nav .nav-list {display: none;}
    .nav-btn {display: none;}
    .ham-menu {display: flex;}
     .hero {height: 92vh;}

     .hero-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: auto;
      right: auto;
      width: 100%;
      height: 100%;
      padding-top: 4em;
      margin-inline: auto;
      object-fit: cover;
    }

    .hero-content-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: .5rem;
      position: absolute;
      width: 100%;
      /* padding: 1rem 0.5rem; */
      border-radius: 2px;
      margin: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-inline: auto;
      text-align: center;
      background: rgba(0, 0, 0, .3);
  }

    .hero-content-left p {margin-bottom: 1rem;}
    .hero h1 {font-size: 2.5rem;line-height: 48px;}
    .skills-grid {grid-template-columns: repeat(2, 1fr);}
    .about {flex-direction: column;padding: 2em;}
    .about-image, .about-content {width: 100%;}
    .about-content {padding-left: 0;padding-top: 1rem;}
    .portfolio-grid {grid-template-columns: repeat(2, 1fr);}
    .blog {padding: 0 1em;}

    .footer .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      width: 100%;
      margin-inline: auto;
    }
    .upArrow {font-size: .8rem;text-align: center;}
    .upArrow span {font-size: 1.5rem;font-weight: 900;}    
  }
  /* ========================================= */
  /* Media queries for responsiveness */
  @media screen and (max-width: 480px) {
    nav ul {flex-direction: column;align-items: center;}
    nav li {margin-bottom: 0.5rem;}
    .skills-grid {padding: 0 1rem;grid-template: repeat(3, 1fr) / repeat(2, 1fr);}
    .portfolio-grid {grid-template-columns: 1fr;}
    .blog-post {flex-direction: column;}
    .blog-image, .blog-content {flex: 1;}
  }